@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 350px; /* vorher: 250px – nun höher */
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    font-size: 2.5em;
    font-weight: bold;
}

article {
    margin-top: 0.5em;
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

footer {
    background-color: #222;                /* Sehr dunkler Hintergrund im Footer */
    color: white;                          /* Weiße Schrift im Footer */
    text-align: center;                    /* Zentriert den gesamten Text im Footer */
    padding: 15px;                         /* Innenabstand im Footer (oben/unten) */
}

footer a {
    color: #ccc;                           /* Hellgraue Farbe für Links im Footer */
    margin: 0 15px;                        /* Horizontaler Abstand zwischen den Links */
    text-decoration: none;                /* Entfernt Unterstreichung der Links */
}

footer a:hover {
    text-decoration: underline;            /* Beim Überfahren mit der Maus: unterstreicht den Link */
}


